<div class="Work-top Content">
   <div class="Work-topSidebar">
      <div class="WorkMeta-sidebar">
         <h1 class="WorkMeta-sidebarTitle"></h1>
         <span></span>
         <div class="WorkMeta-byline">
            <div class="WorkMeta-authors"></a></div>
            <div class="WorkMeta-ratingContainer">
               <div class="WorkMeta-rating" itemprop="aggregateRating" itemscope="" itemtype="http://schema.org/AggregateRating">
                  <meta content="4.89" itemprop="ratingValue">
                  <meta content="6" itemprop="reviewCount">
                  <span class="WorkMeta-ratingStar" style="cursor:default;" title="Log in to rate this book">
                     <svg class="Icon is-filled" icon="star">
                        <use data-classes="is-filled" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#Icon--star"></use>
                     </svg>
                  </span>
                  <span class="WorkMeta-ratingStar" style="cursor:default;" title="Log in to rate this book">
                     <svg class="Icon is-filled" icon="star">
                        <use data-classes="is-filled" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#Icon--star"></use>
                     </svg>
                  </span>
                  <span class="WorkMeta-ratingStar" style="cursor:default;" title="Log in to rate this book">
                     <svg class="Icon is-filled" icon="star">
                        <use data-classes="is-filled" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#Icon--star"></use>
                     </svg>
                  </span>
                  <span class="WorkMeta-ratingStar" style="cursor:default;" title="Log in to rate this book">
                     <svg class="Icon is-filled" icon="star">
                        <use data-classes="is-filled" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#Icon--star"></use>
                     </svg>
                  </span>
                  <span class="WorkMeta-ratingStar" style="cursor:default;" title="Log in to rate this book">
                     <svg icon="star-three-quarters" class="Icon">
                        <use data-classes="" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#Icon--star-three-quarters"></use>
                     </svg>
                  </span>
               </div>
               <button class="WorkMeta-reviewsLink is-link" title="" type="button">See Customer Reviews</button>
            </div>
         </div>
         <div class="WorkMeta-thumbnail"></div>
         <div>
            <div class="WorkMeta-details is-collapsable is-collapsed">
               <div class="WorkMeta-detailsRow is-collapsed">Paperback</span></div>
               <div class="WorkMeta-detailsRow is-collapsed is-important">English</span></div>
               <div><%= image_tag @book.picture_url, size: "150" %></div>
               <div class="WorkMeta-detailsRow is-collapsed">9780545139700</span></div>
               <div class="WorkMeta-detailsRow"><%= @book.publish_date.strftime("%m/%d/%Y") %></span></div>
               <div class="WorkMeta-detailsRow"><%= @book.author.name %></span></div>
               <div class="WorkMeta-detailsRow is-collapsed">784 Pages</span></div>
               <div class="WorkMeta-detailsRow is-collapsed">2.45 lbs.</span></div>
               <div class="WorkMeta-detailsRow is-collapsed"</span></div>
               <div class="WorkMeta-detailsRow is-collapsed"><%= @book.age_range %></span></div>
               <div class="WorkMeta-detailsRow is-collapsed">Grades 4 to 7</span></div>
               <button class="WorkMeta-detailsCollapseButton is-link" title="" type="button">
                  <span> <%= rating_for @book, 'quality', enable_half: true %></span>
                  <svg icon="chevron-down" class="Icon">
                     <use data-classes="" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#Icon--chevron-down"></use>
                  </svg>
               </button>
            </div>
         </div>
      </div>
   </div>
   <div class="Work-topContentContainer">
      <div class="Work-topContent">
         <div class="WorkMeta-content WorkMeta-useAlternate">
            <div class="WorkMeta-editionsContainer">
               <div class="WorkMeta-editions">
                  <h1 class="WorkMeta-title" itemprop="name"><%= @book.name %></h1>
                  <h2 class="WorkMeta-series"></span></h2>
                  <div class="WorkMeta-byline">
                     <div class="WorkMeta-authors"><%= @book.author.name %></a></div>
                     <div class="WorkMeta-ratingContainer">
                        <div class="WorkMeta-rating" itemprop="aggregateRating" itemscope="" itemtype="http://schema.org/AggregateRating">
                           <meta content="4.89" itemprop="ratingValue">
                           <meta content="6" itemprop="reviewCount">
                           <span class="WorkMeta-ratingStar" style="cursor:default;" title="Log in to rate this book">
                              <svg class="Icon is-filled" icon="star">
                                 <use data-classes="is-filled" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#Icon--star"></use>
                              </svg>
                           </span>
                           <span class="WorkMeta-ratingStar" style="cursor:default;" title="Log in to rate this book">
                              <svg class="Icon is-filled" icon="star">
                                 <use data-classes="is-filled" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#Icon--star"></use>
                              </svg>
                           </span>
                           <span class="WorkMeta-ratingStar" style="cursor:default;" title="Log in to rate this book">
                              <svg class="Icon is-filled" icon="star">
                                 <use data-classes="is-filled" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#Icon--star"></use>
                              </svg>
                           </span>
                           <span class="WorkMeta-ratingStar" style="cursor:default;" title="Log in to rate this book">
                              <svg class="Icon is-filled" icon="star">
                                 <use data-classes="is-filled" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#Icon--star"></use>
                              </svg>
                           </span>
                           <span class="WorkMeta-ratingStar" style="cursor:default;" title="Log in to rate this book">
                              <svg icon="star-three-quarters" class="Icon">
                                 <use data-classes="" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#Icon--star-three-quarters"></use>
                              </svg>
                           </span>
                        </div>
                        <button class="WorkMeta-reviewsLink is-link" title="" type="button"></button>
                     </div>
                  </div>
                  <div class="MiniBrowse-seeAllLink is-desktop">
                     <button class="is-link" title="" type="button">
                        <span> Details </span>
                        <svg icon="chevron-down" class="Icon">
                           <use data-classes="" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#Icon--chevron-down"></use>
                        </svg>
                     </button>
                     <p><%= @book.description %></p>
                  </div>
                  <div class="MiniBrowseContainer">
                     <div>
                        <div class="Loading-spinner">
                           <div class="Loading-rect"></div>
                           <div class="Loading-rect"></div>
                           <div class="Loading-rect"></div>
                           <div class="Loading-rect"></div>
                           <div class="Loading-rect"></div>
                        </div>
                     </div>
                  </div>
                  <div class="is-desktop">
                     <div class="WorkSwitcher-container is-visible">
                        <div class="WorkSwitcher-dropdown">
                           <div class="Dropdown" id="dropdown-1a92db1" role="menubar">
                              <div aria-haspopup="true" class="Dropdown-selection" tabindex="0">
                                 <div class="Dropdown-itemTitle">Paperback</div>
                                 <div class="Dropdown-itemDescription"></div>
                                 <svg icon="caret-down" class="Icon">
                                    <use data-classes="" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#Icon--caret-down"></use>
                                 </svg>
                              </div>
                              <ul aria-hidden="true" class="Dropdown-list" role="menu">
                                 <li class="" data-idx="0" role="menuitem" tabindex="-1" value="3872606">
                                    <button class="has-description is-link" title="" type="button">
                                       <div class="Dropdown-itemTitle">Hardcover</div>
                                       <div class="Dropdown-itemDescription">from $3.59</div>
                                    </button>
                                 </li>
                                 <li class="" data-idx="1" role="menuitem" tabindex="-1" value="5001248">
                                    <button class="has-description is-link" title="" type="button">
                                       <div class="Dropdown-itemTitle">Paperback</div>
                                       <div class="Dropdown-itemDescription">from $6.13</div>
                                    </button>
                                 </li>
                                 <li class="" data-idx="2" role="menuitem" tabindex="-1" value="5767966">
                                    <button class="has-description is-link" title="" type="button">
                                       <div class="Dropdown-itemTitle">Library Binding</div>
                                       <div class="Dropdown-itemDescription">from $21.34</div>
                                    </button>
                                 </li>
                              </ul>
                           </div>
                        </div>
                        <div class="WorkSwitcher">
                           <span class="WorkSwitcher-format">
                           </span>
                           <span class="WorkSwitcher-format">
                              
                             </span>
                           </span>
                        </div>
                     </div>
                  </div>
                  <div class="is-desktop">
                     
                     <h5 class="WorkMeta-overviewTitle"></p>
                     <button class="WorkMeta-overviewReadMore is-link" title="" type="button">
                        <svg class="Icon WorkMeta-overviewIcon" icon="chevron-down">
                           <use data-classes="WorkMeta-overviewIcon" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#Icon--chevron-down"></use>
                        </svg>
                     </button>
                  </div>
               </div>
               <div class="WorkMeta-priceSidebar">
                  <div class="WorkPriceContainer">
                     <div class="WorkPriceContainer-header">
                        <div class="WorkPriceContainer-prices">
                        <div class="WorkPriceContainer-priceText" data-reactid=".8.0.1.0.0.0.1.0.0.0.0"><span data-reactid=".8.0.1.0.0.0.1.0.0.0.0.0">$</span><span data-reactid=".8.0.1.0.0.0.1.0.0.0.0.1"><%= @book.price %></span></div>
                           
                           <small class="WorkPriceContainer-listPriceText">
                              <div>
                              </div>
                           </small>
                        </div>
                        <h5>Best Value</h5>
                        <div>
                          
                           <span class="WorkPriceContainer-conditionText">
                              <div class="Tooltip" width="250">
                                 <div class="Hover has-indicator" id="hover-1eba16d" style="cursor:help;">
                                    </span>
                                    <div class="Tooltip-tip is-bottom is-multiline">
                                       <div class="Tooltip-tipContent">
                                          <p>: A readable copy. All pages are intact, and the cover is intact (the dust cover may be missing). Pages can include considerable notes—in pen or highlighter—but the notes cannot obscure the text.</span></p>
                                       </div>
                                       <div class="Tooltip-callout"></div>
                                    </div>
                                 </div>
                              </div>
                              <span> </span>
                              <div class="Tooltip" width="250">
                                 <div class="Hover" id="hover-14ba7ae">
                                    <span class="Work-formatsConditionBit">
                                       <svg icon="dust-jacket" class="Icon">
                                          <use data-classes="" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#Icon--dust-jacket"></use>
                                       </svg>
                                    </span>
                                    <div class="Tooltip-tip is-right">
                                       <div class="Tooltip-tipContent">Item is missing its dust jacket</div>
                                       <div class="Tooltip-callout"></div>
                                    </div>
                                 </div>
                              </div>
                           </span>
                        </div>
                        <div class="is-mobile">
                           <div class="WorkSwitcher-container is-visible">
                              <div class="WorkSwitcher-dropdown">
                                 <div class="Dropdown" id="dropdown-1517216" role="menubar">
                                    <div aria-haspopup="true" class="Dropdown-selection" tabindex="0">
                                       <div class="Dropdown-itemTitle">Paperback</div>
                                       <svg icon="caret-down" class="Icon">
                                          <use data-classes="" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#Icon--caret-down"></use>
                                       </svg>
                                    </div>
                                    <ul aria-hidden="true" class="Dropdown-list" role="menu">
                                       <li class="" data-idx="0" role="menuitem" tabindex="-1" value="3872606">
                                          <button class="has-description is-link" title="" type="button">
                                          </button>
                                       </li>
                                       <li class="" data-idx="1" role="menuitem" tabindex="-1" value="5001248">
                                          <button class="has-description is-link" title="" type="button">
                                             <div class="Dropdown-itemTitle">Paperback</div>
                                          </button>
                                       </li>
                                       <li class="" data-idx="2" role="menuitem" tabindex="-1" value="5767966">
                                          <button class="has-description is-link" title="" type="button">
                                             <div class="Dropdown-itemTitle">Library Binding</div>
                                             <div class="Dropdown-itemDescription">from $21.34</div>
                                          </button>
                                       </li>
                                    </ul>
                                 </div>
                              </div>
                              <div class="WorkSwitcher">
                                 <span class="WorkSwitcher-format">
                                    <button class="WorkSwitcher-formatButton is-link" title="" type="button">
                                       <div class="WorkSwitcher-formatContent" itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
                                          </span>
                                          <link href="http://schema.org/InStock" itemprop="availability">
                                       </div>
                                    </button>
                                    <span class="WorkSwitcher-seeAll"> (see all)</span></button></span>
                                 </span>
                                 <span class="WorkSwitcher-format is-active">
                                    <button class="WorkSwitcher-formatButton is-link" title="" type="button">
                                       <div class="WorkSwitcher-formatContent" itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
                                          <span class="WorkSwitcher-formatTitle">6.13</span></span>
                                          <link href="http://schema.org/InStock" itemprop="availability">
                                       </div>
                                    </button>
                                    <span class="WorkSwitcher-seeAll"> (see all)</span></button></span>
                                 </span>
                                 <span class="WorkSwitcher-format">
                                    <button class="WorkSwitcher-formatButton is-link" title="" type="button">
                                       <div class="WorkSwitcher-formatContent" itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
                                          <span class="WorkSwitcher-formatTitle">21.34</span></span>
                                          <link href="http://schema.org/InStock" itemprop="availability">
                                       </div>
                                    </button>
                                    <span class="WorkSwitcher-seeAll"> (see all)</span></button></span>
                                 </span>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="WorkPriceContainer-addToCartButton">
                        <div class="Work-addToCart Button-container is-small" title="">Add to Cart</button></div>
                     </div>
                     <div class="WorkPriceContainer-wishlistButtonContainer">
                        <div class="WorkWishList">
                           <div class="WorkWishListButton">
                              <a href="/account/login.aspx?login=y&amp;wl=y&amp;wlisbn=0545139708&amp;returnurl=http%3a%2f%2fwww.thriftbooks.com%2fw%2fharry-potter-and-the-deathly-hallows_jk-rowling%2f245749%2f">
                                 <svg icon="wishlist-outline" class="Icon">
                                    <use data-classes="" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#Icon--wishlist-outline"></use>
                                 </svg>
                                 <span>Add to Wish List</span>
                              </a>
                              <span class="u-hidden">
                                 <svg icon="caret-up" class="Icon">
                                    <use data-classes="" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#Icon--caret-up"></use>
                                 </svg>
                              </span>
                           </div>
                           <div class="WorkWishListPopover">
                              <label class="WorkWishList-header">
                              <div class="Button-container is-small" title="">Add</button></div>
                              <p class="WorkWishList-error"></p>
                           </div>
                        </div>
                     </div>
                     <div class="WorkMeta-shares">
                        <span class="WorkMeta-share ShareThisButton st_facebook_custom">
                           <svg icon="social-f" class="Icon">
                              <use data-classes="" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#Icon--social-f"></use>
                           </svg>
                        </span>
                        <span class="WorkMeta-share ShareThisButton st_twitter_custom">
                           <svg icon="social-twitter" class="Icon">
                              <use data-classes="" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#Icon--social-twitter"></use>
                           </svg>
                        </span>
                        <span class="WorkMeta-share ShareThisButton st_pinterest_custom">
                           <svg icon="social-pinterest" class="Icon">
                              <use data-classes="" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#Icon--social-pinterest"></use>
                           </svg>
                        </span>
                        <span class="WorkMeta-share ShareThisButton st_sharethis_custom">
                           <svg icon="share" class="Icon">
                              <use data-classes="" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#Icon--share"></use>
                           </svg>
                        </span>
                     </div>
                  </div>
               </div>
               <div class="is-mobile">
                  <p class="WorkMeta-more">
                     <button class="is-link" title="" type="button">
                        <svg icon="list" class="Icon">
                           <use data-classes="" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#Icon--list"></use>
                        </svg>
                        <span> from $3.59</span>
                     </button>
                  </p>
                  <a class="WorkMeta-freeShippingMessage" href="/s/free-shipping/">Free shipping on all U.S. orders over $10!</a>
                  <h5 class="WorkMeta-overviewTitle"></h5>
                  <p class="WorkMeta-overview">Readers beware. The brilliant, breathtaking conclusion to J.K. Rowling's spellbinding series is not for the faint of heart--such revelations, battles, and betrayals await in Harry Potter and the Deathly Hallows that no fan will make it to the end unscathed. Luckily, Rowling has prepped loyal readers...</p>
                  <button class="WorkMeta-overviewReadMore is-link" title="" type="button">
                     <span>More Details</span>
                     <svg class="Icon WorkMeta-overviewIcon" icon="chevron-down">
                        <use data-classes="WorkMeta-overviewIcon" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#Icon--chevron-down"></use>
                     </svg>
                  </button>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>